name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  lint:
    runs-on: macos-latest
    name: Lint
    steps:
      - uses: actions/checkout@v4
      - name: Check formatting with rubyfmt
        run: |
          brew install rubyfmt
          rubyfmt --check .

  test:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - "4.0"
          - "3.4"
          - "3.3"
          - "3.2"
          - "3.1"
          - "3.0"

    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake
